# Autotool files
configure
Makefile.in
config.h.in
aclocal.m4
libtool
autom4te.cache/
build-aux/
m4/

# Configure files
Makefile
config.log
config.status
config.h
doxyfile
stamp-*

# Compiled files
.libs/
.deps/
*.lo
*.o

# Products
src/libcset.la
tests/about

# Run files
*.log
*.trs

# Package files
*.tar.*
